nav {
    font-size: large;
    color:brown;
}
.todo-status {
    padding-right: 1em;
}
.todo-desc {
    padding-right: 1em;
}
.todo-date {
    padding-right: 1em;
}
.todo-date-input {
    max-width: 12em;
}